.avatar {
    display: flex;
    border-radius: 100%;
    background-color: rgb(6, 128, 168);
    width: 50px;
    height: 50px;
    padding: 5px;
    align-items: center;
    justify-content: center;
  }
  
  .text {
    font-size: 30px;
    color: white;
  }