input[type="checkbox"]:checked {
    accent-color: cornflowerblue;
  }

input[type="checkbox"] {
    box-shadow: 0px 0px 20px rgb(37, 37, 37);
    cursor: pointer;
    width: 30px;
    height: 30px;
}